/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-align: center;
    
}

body > p 
{
    margin-left: 360px;
    margin-right: 360px;
    text-align: left;
  
}
body > hr
{
  margin-bottom: 30px;
  margin-left: 300px;
  margin-right: 300px;
}

.container {
    display: flex;
}

.faixa-lateral {
    width: 200px; /* largura da faixa lateral */
    height: 100%; /* altura da faixa lateral (100% da altura da viewport) */
    background-color: #636363; /* cor da faixa lateral */
    margin-left: 80px;
    position: absolute;
    
}

.faixa-topo {
    flex: 1; /* a faixa superior ocupa todo o espaço restante */
    background-color: #729884; /* cor da faixa superior */
    width: 100vh;
    padding: 40px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.faixa-lateral img
{
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;
  margin-top: 20px;
  margin-left: 25px;
  width: 150px;
}

.faixa-lateral center {
  
  color: white;
  margin-top: 80px;
  
}